homeassistant: xxxxxxxxx
permit_join: xxxxxxxxx
mqtt: xxxxxxxxx
  base_topic: xxxxxxxxx
  server: xxxxxxxxx
  user: xxxxxxxxx
  password: xxxxxxxxx
serial: xxxxxxxxx
  port: xxxxxxxxx
  disable_led: xxxxxxxxx
advanced: xxxxxxxxx
  cache_state: xxxxxxxxx
# Optional: xxxxxxxxx
# unstable when executing many commands
queue: xxxxxxxxx
  # Optional: xxxxxxxxx
  delay: xxxxxxxxx
  # Optional: xxxxxxxxx
  simultaneously: xxxxxxxxx
devices: xxxxxxxxx
  '0x00158d0001e065e8': xxxxxxxxx
    friendly_name: xxxxxxxxx
    retain: xxxxxxxxx
  '0x00158d0002a55439': xxxxxxxxx
    friendly_name: xxxxxxxxx
    retain: xxxxxxxxx
  '0x00158d0001e50ce4': xxxxxxxxx
    friendly_name: xxxxxxxxx
    retain: xxxxxxxxx
  '0x00158d00026ea017': xxxxxxxxx
    friendly_name: xxxxxxxxx
    retain: xxxxxxxxx
  '0x000d6ffffe2c61ce': xxxxxxxxx
    friendly_name: xxxxxxxxx
    debounce: xxxxxxxxx
    retrieve_state: xxxxxxxxx
